
    @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
		h6 {
			text-align: center;
            font-family:'Grenze Gotisch', cursive;
            font-weight:300;
            font-size:50px;
            font-weight: bold
		}
        p{
            text-align: center;
            font-family:'Grenze Gotisch', cursive;
            font-weight:300;
            font-size:30px;
            font-weight: bold
        }
        h1{
            font-family: 'Dancing Script', cursive;
            font-size:50px;
            font-weight: bold
        }
        .container{
           text-align: center;
            font-family:'Grenze Gotisch', cursive;
            font-weight:300;
            font-size:25px;
            font-weight: bold 
        }

        .center{
            text-align: center;
            font-family:'Grenze Gotisch', cursive;
            font-weight:300;
            font-size:25px;
            font-weight: bold
       
        }
        .nav_bar{
            font-family: 'Abril Fatface', cursive;
            font-size:20px
        }
        .navbar-brand{
            font-size:25px;
        }
 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
        
html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
}
/* >>>>>>> 157c480e2b8dca608729a51a01ec0a15e8c8e88d */
.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}
section {
  display: flex;
}