{% extends "base.html" %}

<body>
{% block title %}Welcome to our community page!{% endblock %}
{% block content %}
<h6>We want to hear from you!</h6>
<div class="center">
    	  <form method="post" action="/add">
    <!-- action="/events/new" is the route name; now have to go build the route -->
		<label for="user_name">Name:</label>
		<input type="text" name="user_name" value="">
		<label for="user_recipe">Specify the Recipe Type:</label>
		<input type="text" name="user_recipe" value="">
        <label for="user_comment">Comment:</label>
		<input type="text" name="user_comment" value="">
		<input type="submit" value="Submit">
</form>
</div>
</div>
</div>

<h3> Public Opinions</h3>
    		<div class="recipe-list">
		
				{% for food in recipe %}
				<div> {{ food.user }} - {{ food.recipe }} - {{ food.comment }}</div>
				{% endfor %}

			
            </div>

        <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');
	
        .recipe-list{
            font-family: 'Indie Flower', cursive;
            font-size:20px;
            text-align: center;
        
        }
        h3{
            font-family: 'Indie Flower', cursive;
            font-size:50px;
            text-align: center;
        }
        body{
            background: url('https://i.pinimg.com/originals/39/2d/67/392d675638b96f888aebf283910b3b50.jpg');
        }
	</style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    </body>
    {% endblock %}
    
