{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center"> <a href="/" style="text-decoration: none; color:blue"> Recipes for you: </a></h1>
<div style="margin-left:35%;">
<br></br>

<div><ul>
  {% for recipe in source %}
  <li class="media">
              <img src="{{recipe['image']}}" class="align-self-center mr-3" alt="..." width="15%" height="15%">
              <div class="media-body">
                  <h5 class="mt-0 mb-1"><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                     {% if 'likes' not in recipe%}
                      How many minutes for preparation? {{recipe['preparationMinutes']}} <br>
                      How many minutes for cooking? {{recipe['cookingMinutes']}}  <br>
                      How many likes has this recipe? {{recipe['aggregateLikes']}}  <br>
                  {% else %}
                      How many your ingredients? {{recipe['usedIngredientCount']}} <br>
                      How many missed ingredients? {{recipe['missedIngredientCount']}}  <br>
                      How many likes has this recipe? {{recipe['likes']}}  <br>
                  {% endif %}

</li> <br>
      {% endfor %}
  </ul> 
  </div>


{% endblock %}
