{% extends 'base.html' %}

{% block content %}
 <!-- <section class="home-slider owl-carousel"> -->
      <div class="slider-item" style="background-image: url('https://marbleunlimitedinc.com/img/blog/background.jpg');">
<br></br>
<h1><center>Popular Summer Recipes</center></h1>
<p>Get ready to cool down with these sweet treats</p>
<center><a href="/recipesearch" class="btn btn-outline-info" role="button">See all reipces</a></center>
<br></br>
<section>
    <br><br>
<div class="container">
    <div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2018/07/epic-summer-salad.jpg?itok=NqqnFNem" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Epic Summer Salad</h6>
                <p class="card-text">Perfect for BBQs and buffets, this is an assembly job of gorgeous ingredients – no cooking required. Serve it with lamb kebabs for an impressive summer feast.</p>
                <a href="#" class="btn btn-primary">Full recipe</a>
            </div>
            </div>
</div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2019/05/strawberry-shortcake-slice.jpg?itok=5_Pj9fV5" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Strawberry Shortcake</h6>
            <p class="card-text">Layer biscuits with strawberries and cream and they'll soften to create an indulgent no-bake dessert. Super easy and delicious, it's a fabulous summer treat.</p>
            <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2018/06/fennel-roast-lemon-tomato-salad.jpg?itok=yuxY5NiC" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Fennel, lemon & tomato salad</h6>
                <p class="card-text">Combine roasted lemon with fronds of fennel, cherry tomatoes, pomegranate and herbs to make this colourful summer salad. It makes a perfect sharing dish.</p>
                <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
</div>
<br></br>
<h1><center>This Week's Top Entrees</center></h1>
<p>Dinner party? We've got you covered.</p>
<center><a href="/recipesearch" class="btn btn-outline-info" role="button">See all reipces</a></center>
<br></br>
<section>
    <br><br>
<div class="container">
    <div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe_images/recipe-image-legacy-id--1031452_11.jpg?itok=doKFzkQA" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Grilled Chicken Lettuce Wraps</h6>
                <p class="card-text">Perfect for BBQs and buffets, this is an assembly job of gorgeous ingredients. Serve it with lamb kebabs for an impressive summer feast.</p>
                <a href="#" class="btn btn-primary">Full recipe</a>
            </div>
            </div>
</div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2020/06/panzanella.jpg?itok=tuGVjEp_" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Panzanella</h6>
            <p class="card-text">Prepare your own version of one of Tuscany’s most famous dishes, panzanella.</p>
            <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2018/06/fennel-roast-lemon-tomato-salad.jpg?itok=yuxY5NiC" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Doner kebab</h6>
                <p class="card-text">Make your own version of this takeaway favourite, complete with chilli and garlic sauces. Serve your homemade doner kebab with pitta bread and shredded cabbage.</p>
                <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
</div>
<br></br>
</section>

<br></br>
<h1><center>This Week's Top Desserts</center></h1>
<p>Perfectly delicious treats for you and your family (or maybe just you).</p>
<center><a href="/recipesearch" class="btn btn-outline-info" role="button">See all reipces</a></center>
<br></br>
<div class="container">
    <div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2018/07/epic-summer-salad.jpg?itok=NqqnFNem" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Epic Summer Salad</h6>
                <p class="card-text">Perfect for BBQs and buffets, this is an assembly job of gorgeous ingredients – no cooking required. Serve it with lamb kebabs for an impressive summer feast.</p>
                <a href="#" class="btn btn-primary">Full recipe</a>
            </div>
            </div>
</div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2019/05/strawberry-shortcake-slice.jpg?itok=5_Pj9fV5" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Strawberry Shortcake</h6>
            <p class="card-text">Layer biscuits with strawberries and cream and they'll soften to create an indulgent no-bake dessert. Super easy and delicious, it's a fabulous summer treat.</p>
            <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe/recipe-image/2018/06/fennel-roast-lemon-tomato-salad.jpg?itok=yuxY5NiC" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Fennel, lemon & tomato salad</h6>
                <p class="card-text">Combine roasted lemon with fronds of fennel, cherry tomatoes, pomegranate and herbs to make this colourful summer salad. It makes a perfect sharing dish.</p>
                <a href="#" class="btn btn-primary">Full Recipe</a>
        </div>
        </div>
    </div>
</div>
<br></br>
</section>

{% endblock %}
