{% extends "base.html" %}

{% block content %}
<center>
  <h2 style="padding-top: 3%;">
      It's time for cooking! What do you have in the fridge? 
  </h2>
  <p style="padding-top: 1%;">Please separate each ingredient with a comma</p>
  <br><br>

  <form method="post" action="/recipes">
      <div class="input-group mb-3" style="max-width: 50%;">
          <input type="text" class="form-control" placeholder="Apple, flour, sugar" aria-label="Ingredients" aria-describedby="button-addon2" name="ingredients">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>          
      </div>
  </form>
</center>
{% endblock %}